/********************
YOUR STYLES
*******************/

* {
    font-family: avenir;
}

article {
    background: lightgray;
    margin: 0 auto;
    padding: 3em;
}

h1 {
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.ex1 {
    border: 5px solid #ccc;
    float: left;
    padding: 10px;
}


/*First Frame*/

.char1,
.char2,
.char3,
.char4,
.char5,
.char6,
.char7,
.char8,
.char9,
.char10,
.char11,
.char12,
.char13,
.char14,
.char15,
.char16 {
    margin-top: 15px;
    background: lightgrey;
    padding: 4px;
    display: inline-block;
    transition: transform 1s;
}


/*Last Frame*/

.char1:hover {
    transform: rotate(-20deg);
    color: darkgrey;
    
}

.char2:hover {
    transform: rotate(20deg);
    color: darkgrey;
}

.char3:hover {
    transform: rotate(-20deg);
    color: darkgrey;
}

.char4:hover {
    transform: rotate(20deg);
    color: darkgrey;
}

.char5:hover {
    transform: rotate(-20deg);
    color: darkgrey;
}

.char6:hover {
    transform: rotate(20deg);
    color: darkgrey;
}

.char7:hover {
    transform: rotate(-20deg);
    color: darkgrey;
}

.char8:hover {
    transform: rotate(20deg);
    color: darkgrey;
}

.char9:hover {
    transform: rotate(-20deg);
    color: darkgrey;
}

.char10:hover {
    transform: rotate(20deg);
    color: darkgrey;
}

.char11:hover {
    transform: rotate(-20deg);
    color: darkgrey;
}

.char12:hover {
    transform: rotate(20deg);
    color: darkgrey;
}

.char13:hover {
    transform: rotate(-20deg);
    color: darkgrey;
}

.char14:hover {
    transform: rotate(20deg);
    color: darkgrey;
}

.char15:hover {
    transform: rotate(-20deg);
    color: darkgrey;
}

.char16:hover {
    transform: rotate(20deg);
    color: darkgrey;
}


/*Keyframe Animation*/

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

article img:hover {
    animation: rubberBand 1s infinite;
}


/********************
MEDIA QUERIES
*******************/


/* Desktop */

@media (min-width: 1200px) {}


/* Tablet */

@media (min-width: 768px) {}


/* Mobile */

@media (min-width: 480px) {}