/********************
YOUR STYLES
*******************/

* {
    font-family: avenir;
}

.top-box {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(0deg, #fff, transparent 90%), aquamarine url('../img/mountains.jpg') no-repeat center;
    background-size: cover;
    margin: 0 0 0px;
    
}

.tiles {
    width: 50%;
    margin: 550px auto;

}

section {
    float: left;
    background: none;
    padding: 1em;
    width: 175px;
}

/*Clearfix*/
section:after {
    content: '';
    display: block;
    clear: both;
}

.small {
    height: 200px;
}

.medium {
    height: 300px;
}

.large {
    height: 400px;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 175px;
    color: white;
    text-transform: uppercase;
    letter-spacing: .75em;
    text-shadow: 5px 5px 50px black;
}

p {
    margin-top: 150px;
    text-align: left;
    color: black;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    padding: 25px;
    letter-spacing: 1px;
}

img.me {
    border-radius: .8em;
    height: 40%;
    width: 40%;
    opacity: 0.9;
    margin: 0 auto;
    display: block;


}

article {
    margin: 0 auto;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: none;
}

.box {
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
    padding-top: 0;
    background-clip: content-box;
    float: left;  
  
}

.div {
    display: block;
}

.bg-color {
    margin: 0 auto;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: .8em;

}


a:link {
    text-decoration: none;
    padding-right: 75px;
}

li {
    display: inline;
    margin: 0 auto;
 

    
}

h3,
ul,
li {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

h3 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgba(0, 0, 0, 0.4);
    
}

.facebook,
.instagram {
    height: 8%;
    width: 8%;
}

.twitter {
    height: 6%;
    width: 6%;
}

h1:hover {
    color: rgba(0, 0, 0, 0.3);
}

.fade {
   transition: all .75s ease-in-out;
   }

.fade:hover {
     transition: all .75s ease-in-out;
      }


/*Keyframe Animation*/

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

h3.animated:hover {
    animation: pulse 1s;
}


/*Masonry Plugin*/


/*Go get masonry CSS from Codepen*/


/********************
MEDIA QUERIES
*******************/


/* Desktop */

@media screen 
  /* 2560px = 160em */
  and (max-width: 160em)
  /* 1280px = 80em */
  and (min-width: 80em) { 
  
  /* Temporary Styling. Add your own. */


}


/* Tablet */

@media screen 
   /* 1279 = 79.9375em */  
  and (max-width: 79.9375em)
   /* 768px = 160em */
  and (min-width: 48em)  {
  
  /* Temporary Styling. Add your own. */


}


/* Mobile */

@media screen
  /* 767px = 47.9375em */
  and (max-width: 47.9375em)
  /* 320px = 20em */
  and (min-width: 20em) { 
  
  /* Temporary Styling. Add your own. */

  
}