/********************
YOUR STYLES
*******************/

* {
    font-family: avenir;
}

.top-box {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(0deg, #fff, transparent 90%), aquamarine url('../img/mountains.jpg') no-repeat center;
    background-size: cover;
    margin: 0 0 0px;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 175px;
    color: white;
    text-transform: uppercase;
    letter-spacing: .75em;
    text-shadow: 5px 5px 50px black;
}

p {
    margin-top: 100px;
    text-align: left;
    color: black;
    max-width: 400px;
    margin: 0 auto;
}

img.me {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 50px;
    border-radius: 15%;
}

article {
    margin: 0 auto;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: none;
}

.box {
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
    padding-top: 0;
    background-clip: content-box;
    float: left;
}

.div {
    display: block;
}

.bg-color {
    margin: 0 auto;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

h3,
ul,
li {
    margin: 0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
}


/*First Frame*/


/*Last Frame*/

h1:hover {
    color: rgba(0, 0, 0, 0.3);
}


/*Keyframe Animation*/

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

h1.animated:hover {
    animation: pulse 1s;
}


/*Masonry Plugin*/


/*Go get masonry CSS from Codepen*/


/********************
MEDIA QUERIES
*******************/


/* Desktop */

@media (min-width: 1200px) {}


/* Tablet */

@media (min-width: 768px) {}


/* Mobile */

@media (min-width: 480px) {}